<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Student Registration Form</title>
</head>
<body>
    <h2>Student Registration Form</h2>
    <form action="/create/save" method="post">
        <label for="rollno">Roll No:</label><br>
        <input type="text" id="rollno" name="rollno"><br>
        
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        
        <label for="lastname">Last Name:</label><br>
        <input type="text" id="lastname" name="lastname"><br>
        
        <label for="schoolfee">School Fee:</label><br>
        <input type="text" id="schoolfee" name="schoolfee"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
